<div class="top-banner" id="top-banner">
  <div class="banner-contents">
    <div class="inner">
      <div class="site-icon">
        <img class="icon" src={{site.data.consts.emblem}} />
      </div>
      <div class="highlights-container">
        <ul class="highlights">
          {% for focus in site.data.focuses %}
            <li class="highlight">{{focus.title}}</li>
          {% endfor %}
        </ul>
      </div>
      <div class="get-involved">
        <button class="default-button-large" onclick="window.location='#contact'"><a class="inner-link" href="#contact">GET INVOLVED</a></button>
      </div>
      <div class="banner-quote">
        {{site.data.consts.tagline}}
      </div>
    </div>
    <div class="image-carousel">
      <div id="current-image"></div>
    </div>
  </div>
</div>
