<div class="top-banner" id="top-banner">
  <div class="banner-contents">
    <div class="inner">
      <div class="site-icon">
        <img class="icon" src="/statics/img/emblem_with_name.png" />
      </div>
      <div class="highlights-container">
        <ul class="highlights">
          <li class="highlight"> honing our collective consciousness </li>
          <li class="highlight"> critical problems in the developing world </li>
          <li class="highlight"> new technologies, advancing society </li>
        </ul>
      </div>
      <div class="get-involved">
        <button class="default-button-large"><a class="inner-link" href="#contact">GET INVOLVED</a></button>
      </div>
      <div class="banner-quote">
        "...how to love your medium long enough to create a masterpiece..."
      </div>
    </div>
    <div class="image-carousel">
      <div id="current-image"></div>
    </div>
  </div>
</div>
