<div class="contact" id="contact">
  <div class="interests">
    <div class="title">I'M INTERESTED IN</div>
    <form class="interest-checks" action="">
      {% for focus in site.data.focuses %}
      <input type="checkbox" id={{focus.id}} class="checkbox" name={{focus.id}} value={{focus.id}}>{{focus.title}}</br>
      {% endfor %}
    </form>
    <div class="title">What changes would you like to see in the world?</div>
    <form class="form-text-input" action="">
      <div class="textarea-wrapper">
        <textarea id="textarea-input" class="textarea-input"></textarea>
      </div>
      <div class="inputs-wrapper">
        <input id="text-input-email" class="text-input" placeholder="EMAIL">
        <input id="text-input-website" class="text-input" placeholder="WEBSITE">
        <input id="text-input-linkedin" class="text-input" placeholder="LINKEDIN">
      </div>
      <button type="button" id="submit-form" onclick="window.submitForm()" class="filled-button-medium">GET INVOLVED</button>
    </form>
  </div>
</div>
