<footer class="site-footer">
  <div class="about">
    <div class="title">ABOUT TOM</div>
    <div class="details">
      <div class="photo-container"><img class="headshot" src="/statics/img/headshot2.jpg"></div>
      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut dui felis. Nulla a fringilla diam, sit amet efficitur tortor. Nullam quis ante semper, vehicula eros a, vulputate felis. Mauris sed urna sapien. Morbi vehicula ante vitae eros bibendum, vel eleifend mi fringilla. </div>
    </div>
    <div class="upcoming">
      <div class="title">Upcoming Events</div>
      {% for event in site.data.upcoming %}
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
        {% if eventtime > nowunix %}
          <div class="event">
            {{event.date}} - <a href={{event.link}}>{{event.title}}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="links">
      <a class="link" id="email" href="mailTo:tom@fact0ry.com">tom@fact0ry.com</a>
     |
      <a class="link" id="twitter" href="https://twitter.com/thegoodtomchi">@thegoodtomchi</a>
    </div>
  </div>
</footer>
