<footer class="site-footer">
  <div class="about">
    <div class="title">ABOUT TOM</div>
    <div class="details">
      <div class="photo-container"><img class="headshot" src={{site.data.consts.headshot}}></div>
      <div class="description">{{site.data.consts.about}}</div>
    </div>
    <div class="upcoming">
      <div class="title">Upcoming Events</div>
      {% for event in site.data.upcoming %}
        {% capture nowunix %}{{'now' | date: '%s'}}{% endcapture %}
        {% capture eventtime %}{{event.date | date: '%s'}}{% endcapture %}
        {% if eventtime > nowunix %}
          <div class="event">
            {{event.viewable_date}} - <a href={{event.link}}>{{event.title}}</a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="links">
      <a class="link" id="email" href="mailTo:{{site.data.consts.email}}">{{site.data.consts.email}}</a>
     |
      <a class="link" id="twitter" href={{site.data.consts.twitter.url}}>{{site.data.consts.twitter.handle}}</a>
    </div>
  </div>
</footer>
