.focus-buckets {
  width: 60%;
  margin: 3em auto;

  .border-line {
    border-bottom: #4A4A4A solid thin;
    width: 150vw;
    transform: translateX(-30%);
  }
}

.focus-buckets .focus {
  margin: 2em;
  max-height: 14em;
  overflow: hidden;
  .title {
    margin-bottom: 1em;
    font-size: 2em;
    color: $text-header-color;
  }

  .wrapper {
    .left {
      float: left;
      width: 65%;
      padding-right: 1%;
      .focus-descriptions {
          color: $text-body-color;

          .readmore {
            float: left;
            color: $orange-color;
            text-decoration: none;
            margin-right: 1.5em;
            cursor: pointer;
          }
      }
    }
    .right {
      float: left;
      width: 34%;
      max-width: 10em;
      height: 125px;
      background-color: $grey-color-dark;
    }
  }
}
